%h1 Questions




.row.questions-container
  .instructions.five.columns
    Content
    - @questions.each do |question|
      .topic
        = link_to question.content
  .input.seven.columns
    sdsldknfslkdnfsldnflsdnflsdnflskdnflsdnSN FGKAJBFGO;EJWBG;OBWE;GOBWRO;FH;EORGB;ROBG;OERBGOEQRBOER;QBQEOB