/ = render partial: '/questions/partials/js_helpers'

- if current_user
  %h2
    = @user.name
  %h4
    Score:
    = @user.score
    %br
    Badges:
    .subtopic-badge
      - @user.subtopics.each do |t|
        = image_tag(t.badge)
    %br
    Finished Topics:
    .subtopic-id
      - @user.subtopics.each do |t|
        = t.name



