/ = render partial: '/questions/partials/js_helpers'
#user-progress
  - if current_user
    
    %h2.row
      %span.color
        YOUR PROGRESS SO FAR...
        %br
        %br
        = @user.name
    %h4.row
      %span.color
        Score:
      = @user.score
      
      
       
    %h4.row
      %span.color
        Finished Topics:
    .subtopic-id.row
      - @user.subtopics.each do |t|
      
        = t.name
    %br
    .subtopic-badge
      - @user.subtopics.each do |t|
        = image_tag(t.badge)
    %br
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="www.calcacademy.herokuapp.com/images/algebra.jpg" data-via="bebelcortes" data-count="none">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


