.navbar {
  height: 50px;
  width: 100%;
  background-color: black;
}

#logo {
  float: left;
  color: white;
  line-height: 50px;
  margin-left: 20px;
}
#navigation {
  float: right;
  color: white;
  line-height: 50px;
  margin-right: 20px;
}
.topic, .subtopic, .subject {
  width: 90%;
  height: 60px;
  border: 1px dashed gray;
  margin: 0 auto;
  text-align: center;
  line-height: 60px;
}

#main-container {
  width: 95%;
  margin: 0 auto;
  height: auto;
}
.navbar a {
  color: white;
  text-decoration: none;
}

.subject{
  width: 90%;
  height: 60px;
  border: 1px dashed gray;
  margin: 0 auto;
  text-align: center;
  line-height: 60px;
}

.subtopic-id {
  height: 30px;
  width: auto;
}

.instructions {
  margin: 0 auto;
  /*float: left;*/
  border: 1px solid black;
  height: auto;
  /*width: 35%;*/
}

#points {
  width: 40px;
  height: 40px;
  border: 1px dashed black;
  float: right;
  text-align: center;
  line-height: 40px;
  /*margin-bottom: 20px;*/
}
.input {
  float: right;
  border: 1px solid black;
  height: 50px;
  width: 99.65%;
  text-align: start;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.hidden {
  display: none;
}

.finished {
  background-color: #9cbc62;
}
.finished:hover {
  background-color: green;
}
#progressbar {
  margin-bottom: 30px;
}